@import url(http://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@import url(http://fonts.googleapis.com/css?family=Oxygen);
body { 
  background: url(../images/empire-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  color: white;
}

h1 {
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	font-size: 4em;
	text-align: center;
}

h2 {
	font-family: 'Amatic SC', cursive;
	font-size: 3em;
	text-align: center;
	margin-bottom: 20px;
}

.picture {
	max-width: 100%;
	border-style: solid;
	border-color: white;
	border-width: 3px;
	border-radius: 5px;
}

.intro {
	background-color: rgba(0,0,0,0.7);
	border-radius: 5px;
	padding-top: 20px;
	font-size: 16px;
	text-align: justify;
	font-family: 'Oxygen', sans-serif;
}

.more-info {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: rgba(0,0,0,0.7);
	border-radius: 5px;
	padding-top: 20px;
	font-size: 16px;
	text-align: justify;
	font-family: 'Oxygen', sans-serif;

}

.footer {
	text-align: right;
}

#twitter {
	text-align: right;
	background-color: rgba(22, 12, 95, 0.9);
	font-family: 'Amatic SC', cursive;
	font-size: 25px;
	padding: 10px;
}

a {
	color: #C3E4ED;
}