body {
    background-image: url(/images/empire-bg.jpg);
}

h1{
  font-family: 'Amatic SC';
  font-size: 50pt;
  text-align: center;
  color: white;
  font-weight: bold;
}

h2{
  font-family: 'Amatic SC';
  font-size: 30pt;
  text-align: center;
  color: white;
}

p{
  text-align: center;
  padding: 15px;
  background-color: black;
  filter: alpha(opacity=60);
  opacity: 0.6;
  color: white;
  font-family: 'Oxygen', sans-serif;
  font-size: 13pt;
  line-height: 160%;
  width: 550px;
  height: 550px;
}

h6{
  text-align: center;
  padding: 15px;
  background-color: black;
  filter: alpha(opacity=60);
  opacity: 0.6;
  color: white;
  font-family: 'Oxygen', sans-serif;
  font-size: 13pt;
  line-height: 150%;
  width: 1225px;
  height: 150px;
}

img{
  width: 550px;
  height: auto;
  left: 1200px;
  border:3px solid #ffffff;
}

iframe{
  width: 700px;
  height: 400px;
  margin-top: 0px;
  margin-right: 200px;
  margin-bottom: 0px;
  margin-left: 200px;
}